:root{
    --color-primary: #645CBB;
    --color-auxillary: #A084DC;
    --color-secondary: #BFACE2;
    --color-tertiary: #EBC7E6;
    --black: #1f2937;
    --white: #eeee;
}

@media (prefers-color-scheme: dark){
    :root{
        --color-primary: #13005A;
        --color-auxillary: #00337C;
        --color-secondary: #1C82AD;
        --color-tertiary: #03C988;
        --black: #eeee;
        --white: #1f2937;
    }
}