@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&family=Noto+Sans+JP&family=Roboto:wght@300;400;500&display=swap');

:root{
    --color-primary: #645CBB;
    --color-auxiliary: #A084DC;
    --color-secondary: #BFACE2;
    --color-tertiary: #EBC7E6;
    --black: #1f2937;
    --white: #eeee;
    --warning: #ffd900;
    --error: #b30d0d;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    
    &:hover,
    &:focus,
    &:active{
        color: var(--color-tertiary);
        outline: none;
    }
}

ul{
    list-style: none;
}

#wrapper{
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
}

//@media (prefers-color-scheme: dark){
//    :root{
//        --color-primary: #13005A;
//        --color-auxiliary: #00337C;
//        --color-secondary: #1C82AD;
//        --color-tertiary: #03C988;
//        --black: #eeee;
//        --white: #1f2937;
//    }
//}

